@import 'tailwindcss' source('../app');
@import "highlight.js/styles/tokyo-night-dark.css";
@import "highlight.js/styles/tokyo-night-light.css";
@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: winter, night;
}

:root {
  font-family:
    Noto Sans JP,
    Proxima Nova,
    system-ui,
    sans-serif;
  scrollbar-gutter: stable both-edges;
}

@layer base {
  html {
    font-family:
      Noto Sans JP,
      Proxima Nova,
      system-ui,
      sans-serif;
    scrollbar-gutter: stable both-edges;
  }
}

/*
モーダル表示時にガタつくのを防ぐworkaround
デスクトップ表示で両サイドが白くなるけどしかたない
DaisyUI V5でなおるっぽい
https://github.com/saadeghi/daisyui/issues/3040#issuecomment-2250530354
*/
:root:has(
    :is(
        .modal-open,
        .modal:target,
        .modal-toggle:checked + .modal,
        .modal[open]
      )
  ) {
  scrollbar-gutter: stable both-edges;
}

.rlc-container {
  width: 100%;
  max-width: 800px;
  max-height: 120px;
  margin: 0 auto 2rem;

  text-decoration: none;

  border: 1px solid;
  border-radius: 0.25rem;
  display: flex;
  align-items: stretch;

  transition:
    background 200ms ease-in-out 0s,
    box-shadow 200ms ease-in-out 0s;
}

.rlc-container:hover {
  background-color: rgba(80, 80, 80, 0.1);
  box-shadow: 0 4px 5px 2px rgba(80, 80, 80, 0.2);
}

.rlc-info {
  overflow: hidden;
  padding: 0.5rem;
  text-align: left;
  display: flex;
  flex: 4 1 100px;
  flex-direction: column;
  justify-content: space-between;
}

.rlc-title {
  font-size: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rlc-description {
  font-size: 0.875rem;
  /* color: #333; */
  overflow: hidden;
  line-height: 1rem;
  height: 2rem;
}

.rlc-url-container {
  display: flex;
  align-items: center;
}

.rlc-favicon {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  /* tailwind cssのprose内で使う際にmarginがproseで設定されているので無効にする */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.rlc-url {
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.rlc-image-container {
  padding: 0.5rem;
  position: relative;
  flex: 1 1 100px;
}

.rlc-image {
  width: 100%;
  height: 100%;
  border-bottom-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  /* tailwind cssのprose内で使う際にmarginがproseで設定されているので無効にする */
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* pagefindのスタイル設定
 * pagefindのcssをmediaqueriesでは上書きできないため!importantを使用
 * ref: https://github.com/CloudCannon/pagefind/issues/614#issuecomment-2111199944
 */
[data-theme="night"] {
  --pagefind-ui-primary: #9ca3af !important;
  --pagefind-ui-text: #9ca3af !important;
  --pagefind-ui-background: #0f172a !important;
  --pagefind-ui-border: #4b5563 !important;
  --pagefind-ui-tag: #4b5563 !important;
  --pagefind-ui-font:
    Noto Sans JP, Proxima Nova, system-ui, sans-serif !important;
}

/* highlight.jsでダークテーマとライトテーマを切り替えられるようにする */
[data-theme="night"] .hljs-meta,
[data-theme="night"] .hljs-comment {
  color: #565f89;
}
[data-theme="night"] .hljs-tag,
[data-theme="night"] .hljs-doctag,
[data-theme="night"] .hljs-selector-id,
[data-theme="night"] .hljs-selector-class,
[data-theme="night"] .hljs-regexp,
[data-theme="night"] .hljs-template-tag,
[data-theme="night"] .hljs-selector-pseudo,
[data-theme="night"] .hljs-selector-attr,
[data-theme="night"] .hljs-variable.language_,
[data-theme="night"] .hljs-deletion {
  color: #f7768e;
}
[data-theme="night"] .hljs-variable,
[data-theme="night"] .hljs-template-variable,
[data-theme="night"] .hljs-number,
[data-theme="night"] .hljs-literal,
[data-theme="night"] .hljs-type,
[data-theme="night"] .hljs-params,
[data-theme="night"] .hljs-link {
  color: #ff9e64;
}
[data-theme="night"] .hljs-built_in,
[data-theme="night"] .hljs-attribute {
  color: #e0af68;
}
[data-theme="night"] .hljs-selector-tag {
  color: #73daca;
}
[data-theme="night"] .hljs-keyword,
[data-theme="night"] .hljs-title.function_,
[data-theme="night"] .hljs-title,
[data-theme="night"] .hljs-title.class_,
[data-theme="night"] .hljs-title.class_.inherited__,
[data-theme="night"] .hljs-subst,
[data-theme="night"] .hljs-property {
  color: #7dcfff;
}
[data-theme="night"] .hljs-quote,
[data-theme="night"] .hljs-string,
[data-theme="night"] .hljs-symbol,
[data-theme="night"] .hljs-bullet,
[data-theme="night"] .hljs-addition {
  color: #9ece6a;
}
[data-theme="night"] .hljs-code,
[data-theme="night"] .hljs-formula,
[data-theme="night"] .hljs-section {
  color: #7aa2f7;
}
[data-theme="night"] .hljs-name,
[data-theme="night"] .hljs-keyword,
[data-theme="night"] .hljs-operator,
[data-theme="night"] .hljs-char.escape_,
[data-theme="night"] .hljs-attr {
  color: #bb9af7;
}
[data-theme="night"] .hljs-punctuation {
  color: #c0caf5;
}
[data-theme="night"] .hljs {
  background: #1a1b26;
  color: #9aa5ce;
}
[data-theme="night"] .hljs-emphasis {
  font-style: italic;
}
[data-theme="night"] .hljs-strong {
  font-weight: bold;
}

[data-theme="winter"] {
  --pagefind-ui-primary: #1f2937 !important;
  --pagefind-ui-text: #374151 !important;
  --pagefind-ui-background: #ffffff !important;
  --pagefind-ui-border: #d1d5db !important;
  --pagefind-ui-tag: #e5e7eb !important;
  --pagefind-ui-font:
    Noto Sans JP, Proxima Nova, system-ui, sans-serif !important;
}
